/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.theme_dark {
  --body-title: #db00ff;
  --content-text: #000028;
  --link-shadow: #ff0070;
  --decore-text: #ff0070;
  --content-color: #ff0070;
  --content-sc-tl: #ff0070;
  --content-button-color: #ff0070;
  --text-paragraph: #f1b2ce;
  --button-hover: rgba(255 0 112 / 0.4);
}

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  background-image: url(../images/cover-image-dark.png);
}

.theme_dark .header__decoration-item {
  display: block;
}

@media (prefers-color-scheme: dark) {

  :root {
    --body-title: #db00ff;
    --content-text: #000028;
    --decore-text: #ff0070;
    --title-shadow: #ff0070;
    --content-color: #ff0070;
    --text-paragraph: #f1b2ce;
    --button-hover: rgba(255 0 112 / 0.4);
  }

  .page {
    background-image: url(../images/cover-image-dark.png);
  }

  .header__decoration-item {
    display: block;
  }
}
